
body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color:#ccc;
}
h1{
    color: rgb(255, 127, 127);
}
@media (max-width: 991px) {
  h1 {
    color: saddlebrown;
  }
}

@media (max-width: 450px){
    h1{
        color: rgb(71, 255, 163);
    }
    html{
        font-size: 55px;
    }
}